<div class="panel panel-default">  
    <div class="panel-heading">  
        <h1 style="text-align: center">Customers</h1><br>  
        <div class="row" [hidden]="!deleteMessage">  
               
                  <div class="col-sm-4"></div>  
                  <div class="col-sm-4">  
                          <div class="alert alert-info alert-dismissible">  
                                  <button type="button" class="close" data-dismiss="alert">×</button>  
                                  <strong>Customer Deleted</strong>  
                          </div>  
                  </div>  
                  <div class="col-sm-4"></div>  
          </div>             
      </div>  
    
      
    <div class="panel-body">  
        <table  class="table table-hover table-sm" datatable [dtOptions]="dtOptions"  
        [dtTrigger]="dtTrigger"  >  
            <thead class="thead-light">  
                <tr>  
                    <th>Customer Type</th>  
                    <th>Name</th>  
                    <th>Agency Id</th> 
                    <th>Interface Id</th>
                    <th>Addess1</th>
                    <th>Addess2</th>  
                    <th>Action</th>  
                      
                </tr>  
            </thead>  
            <tbody>  
                 <tr *ngFor="let customer of customers ">  
                    <td>{{customer.customer_type}}</td>  
                    <td>{{customer.customer_name}}</td>  
                    <td>{{customer.customer_agency_id}}</td>
                    <td>{{customer.customer_interface_id}}</td>
                    <td>{{customer.customer_address1}}</td>
                    <td>{{customer.customer_address2}}</td>
                    <td>{{customer.customer_cts_country}}</td>
                    <td><button (click)="deleteCustomer(customer.customer_code)" class='btn btn-primary'><i class="fa fa-futboll-0">Delete</i></button>   
                      <button (click)="updateCustomer(customer.customer_code)" class='btn btn-info'  
                      data-toggle="modal" data-target="#myModal">Update</button>  
                    </td>  
                  </tr>   
            </tbody><br>  
        </table>  
    </div>  
  </div>   
    
  <div class="modal" id="myModal">  
          <div class="modal-dialog">  
            <div class="modal-content">  
                  <form [formGroup]="customerupdateform" #updstu (ngSubmit)="updateCust()">  
              <!-- Modal Header -->  
              <div class="modal-header">  
                <h4 class="modal-title" style="text-align: center">Update Customer</h4>  
                  
              </div>  
                
              <!-- Modal body -->  
              <div class="modal-body" *ngFor="let customer of customerlist " >  
                  <div [hidden]="isupdated">  
    
                      <input type="hidden" class="form-control"  formControlName="customer_code" [(ngModel)]="customer.customer_code">  
                              <div class="form-group">  
                                  <label for="name">Customer Type</label>  
                                  <input type="text" class="form-control"  formControlName="customer_type" [(ngModel)]="customer.customer_type"  >  
                              </div>  
                              <div class="form-group">  
                                <label for="name">Name</label>  
                                <input type="text" class="form-control"  formControlName="customer_name" [(ngModel)]="customer.customer_name"  >  
                            </div>
                            <div class="form-group">  
                                <label for="name">Agency Id</label>  
                                <input type="text" class="form-control"  formControlName="customer_agency_id" [(ngModel)]="customer.customer_agency_id"  >  
                            </div>
                            <div class="form-group">  
                                <label for="name">Interface Id</label>  
                                <input type="text" class="form-control"  formControlName="customer_interface_id" [(ngModel)]="customer.customer_interface_id"  >  
                            </div>
                            <div class="form-group">  
                                <label for="name">Address1</label>  
                                <input type="text" class="form-control"  formControlName="customer_address1" [(ngModel)]="customer.customer_address1"  >  
                            </div>
                            <div class="form-group">  
                                <label for="name">Address2</label>  
                                <input type="text" class="form-control"  formControlName="customer_address2" [(ngModel)]="customer.customer_address2"  >  
                            </div>
                            <div class="form-group">  
                                <label for="name">CTS Country</label>  
                                <input type="text" class="form-control"  formControlName="customer_cts_country" [(ngModel)]="customer.customer_cts_country"  >  
                            </div>
                                                   
                    </div>    
                    <div [hidden]="!isupdated">  
                        <h4>Customer Detail Updated!</h4>  
                    </div>          
                        
              </div>  
                
              <!-- Modal footer -->  
              <div class="modal-footer" >  
                <button type="submit" class="btn btn-success" [hidden]="isupdated">Update</button>  
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="changeisUpdate()">Close</button>  
              </div>  
                
          </form>  
            </div>  
          </div>  
        </div> 